
:root {
	--aside-width: 40px;
	--list-width: 300px;
}

body {
	position: relative;
	margin: 0;
	min-height: 100vh;
}

.full {
	display: flex;
	justify-content: space-between;


	position: fixed;
	top: 0;
	left: 380px;
	bottom: 0;
	width: calc(100% - 100px - 350px);
}

.full-img-wrap {
	position: relative;
	padding-top: 56.25%; /* чтобы фото уменьшалось равномерно */
	width: 100%;
}

#full-img {
	max-width: 92%;
	
	position: absolute; /* и потом это к уменьшению фото */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

img.edit {
	position: absolute;
	cursor: pointer;	

	top: 2%;
	right: -4%;
}

.left,
.right {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;

	outline: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0, 0);
	
	transition: .2s;
}

.left {
	margin-right: 30px;
}

.right {
	margin-left: 30px;
}

.left:hover,
.right:hover {
	cursor: pointer;
	transform: scale(1.5);
}


.list-wrap {

	margin: 0 20px 20px 0;
	
}

.list {
	width: 100px;
	margin-top: 20px;
	display: none;
	
}

@media (min-width: 960px) {
	.list {
		display: flex;
		flex-direction: column;
		width: 255px;
	}
}

.list img {
	max-width: 100%;
	margin-bottom: 15px;
	filter: grayscale(100%); /* делает фото в чб */
	opacity: .5; /* прозрачность */
	max-width: 100%;

	transition: .2s;

}

.list img:focus {
	outline: none;
}

.list img:hover {
	cursor: pointer;
	box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.35);
	opacity: 1;
	filter: grayscale(0);
}

.list img.active,
.list img:focus {
	filter: grayscale(0);
	opacity: 1;
	box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.35);
} 



aside {
	position: fixed;
	top: 0;
	right: 0px;
	height: 100vh;
	width: 500px;
	background-color: #e8e6dde0;
	box-shadow: 0 0 25px rgba(121,85,72,0.5);
	/* opacity: 0.93; */
	
	transform: translateX(100%);
	
	transition: all 0.5s;
	z-index: 1;
}

aside.visible {
	transform: translateX(0);
}

#img-show {
	width: 450px;
	padding-left: 25px;
}

ul {
	padding: 0;
	list-style-type: none;
	
}

a {
	text-decoration: none;
	color: #1f1c1f;
}

.close {
	padding: 35px 25px;
	margin: 0;
	border: 0;
	background-color: transparent;
	outline: none;
}

.close:hover {
	cursor: pointer;
}
li {
	padding-left: 15px;
	padding-bottom: 10px;
}

li:nth-child(1) img {
	filter: blur(1px);
  }
  li:nth-child(2) img {
	filter: brightness(70%);
  }
  li:nth-child(3) img {
	filter: contrast(75%);
  }
  li:nth-child(4) img {
	filter: grayscale(.95);
  }
  li:nth-child(5) img {
	filter: saturate(300%);
  }
  li:nth-child(6) img {
	filter: sepia(100%);
  }
  li:nth-child(7) img {
	filter: hue-rotate(270deg);
  }
  li:nth-child(8) img {
	filter: invert(100%);
  }

  .upload-effect-level {
	position: absolute;
	bottom: 50%;
	left: 2%;
  
	box-sizing: border-box;
	width: 495px;
	height: 33px;
  
	background: rgba(0, 0, 0, 0.6);
	border-radius: 33px;
	/* transform: translateX(-50%); */
  }
  
  .upload-effect-level-line {
	position: absolute;
	top: 50%;
	right: 20px;
	left: 20px;
  
	height: 5px;
  
	background: rgba(255, 231, 81, 0.4);
	transform: translateY(-50%);
  }
  
  .upload-effect-level-pin {
	position: absolute;
	top: 50%;
  
	width: 18px;
	height: 18px;
	margin: -9px 0 0;
  
	background: #ffe753;
	border-radius: 50%;
	transform: translateX(-50%);
	cursor: move;
  }
  
  .upload-effect-level-val {
	position: absolute;
  
	width: 20%;
	height: 100%;
  
	background: #ffe753;
  }